#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
}

html {
  color: rgb(203, 192, 192);
  background: rgb(12, 12, 12);
}

.page-container {
  margin: auto;
}

@media screen and (max-width:680px) {
  #root {
    padding: 0;
  }
}










