.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -1rem;
  padding-left: 1rem;
  box-shadow: 0 3px 2px -2px gray;
  width: 100%;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
}

.header > h1 {
  padding-left: 1rem;
}

.count {
  margin-top: -2rem;
  margin-left: 2.5rem;
}

  span {
  padding-left: 2px;
  padding-right: 2px;
}